html,
body {
  padding: 0px;
  margin: 0px;
  border: 0px;
  max-width: 1519px;
  max-height: 900px;
}

.mynav {
  background: #007ee5;
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: #f8f9fa;
}
.mynav h4 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 900;
  padding-left: 240px;
}
.navbar-nav {
  text-align: right;
  margin-left: 390px;
  text-transform: uppercase;
}
.nav-item {
  padding-left: 59px;
}

.logos {
  text-align: right;
  margin-left: 59px;
  text-transform: uppercase;
}
.logo-item {
  padding-left: 15px;
}
#pics {
  background-image: url("images/Banner.png");
  background-repeat: repeat-y;
  background-position: top;

  max-width: 1519px;
  max-height: 900px;
  margin: 0;
  padding: 0;
}
#heading1 {
  position: relative;
  top: -790px;
  left: 252px;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
  max-width: 800px;
  /* margin: 0;
    padding: 0; */
}
#heading2 {
  position: relative;
  top: -790px;
  left: 252px;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  max-width: 800px;
  margin: 0;
}
#man {
  position: relative;
  top: 80px;
  margin-left: 760px;
  z-index: 2;
}
#price {
  position: relative;
  left: 1100px;
  top: -600px;
  z-index: 1;
}
#offer {
  position: relative;
  top: -760px;
  left: 252px;
}
